<div class="c-card">
    <div class="c-card__image">
        <img src="assets/images/plato-1.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non fermentum dolor, 
            quis suscipit velit. Vestibulum non rutrum orci. Morbi consequat non libero nec ornare. 
            Suspendisse condimentum hendrerit ultricies. Pellentesque dui est, congue sed ligula vitae, 
            vulputate congue magna. Sed ut tincidunt felis. Maecenas enim dui, porttitor in neque sed, porttitor 
            pellentesque arcu
        </div>
    </div>
</div>
<div class="c-card reverse">
    <div class="c-card__image">
        <img src="assets/images/plato-2.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non fermentum dolor, 
            quis suscipit velit. Vestibulum non rutrum orci. Morbi consequat non libero nec ornare. 
            Suspendisse condimentum hendrerit ultricies. Pellentesque dui est, congue sed ligula vitae, 
            vulputate congue magna. Sed ut tincidunt felis. Maecenas enim dui, porttitor in neque sed, porttitor 
            pellentesque arcu
        </div>
    </div>
</div>
<div class="c-card">
    <div class="c-card__image">
        <img src="assets/images/plato-3.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non fermentum dolor, 
            quis suscipit velit. Vestibulum non rutrum orci. Morbi consequat non libero nec ornare. 
            Suspendisse condimentum hendrerit ultricies. Pellentesque dui est, congue sed ligula vitae, 
            vulputate congue magna. Sed ut tincidunt felis. Maecenas enim dui, porttitor in neque sed, porttitor 
            pellentesque arcu
        </div>
    </div>
</div>