<div class="c-card">
    <div class="c-card__image">
        <img src="assets/images/plato-1.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            <h3 style="text-align: center;"><strong>Ensalada de camarones</strong></h3>
            Ensalada fresca de camarones, calamares y mejillones, acompañada de aguacate, espinacas, pepino y tomate. Aliñado con jugo de limón, aceite de oliva extra virgen y un toque de sal marina, es rico en proteínas, grasas saludables y antioxidantes.
        </div>
    </div>
</div>
<div class="c-card reverse">
    <div class="c-card__image">
        <img src="assets/images/plato-2.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            <h3 style="text-align: center;"><strong>Pulpo a la gallega</strong></h3>
            El pulpo se cuece hasta quedar tierno y se sirve en rodajas sobre una cama de papas cocidas. Se sazona con aceite de oliva extra virgen, pimentón dulce o picante y una pizca de sal marina. Este plato es sencillo, nutritivo y bajo en grasas, destacando por su alto contenido en proteínas y minerales esenciales.
        </div>
    </div>
</div>
<div class="c-card">
    <div class="c-card__image">
        <img src="assets/images/plato-3.jpg">
    </div>
    <div class="c-card__content">
        <div class="c-card__content--text">
            <h3 style="text-align: center;"><strong> Pollo a la parrilla con vegetales al vapor.</strong></h3>
            La pechuga se sazona con hierbas frescas como romero, tomillo, ajo y un toque de limón, luego se asa a la parrilla hasta quedar jugosa. Se acompaña de brócoli, zanahorias y calabacín al vapor, junto con un chorrito de aceite de oliva. Este plato es bajo en calorías y grasas, pero rico en proteínas y nutrientes esenciales. Ideal para una comida balanceada.
        </div>
    </div>
</div>